<!DOCTYPE html>
<html lang="en">
<div class="page-header">
<nav id="nav-bar">

<div lass="container">
  <div class="row">
    <div class="cal-lg-3 cal-md-3 cal-sm-6 cal-xs-3">

    <h1>Mapped-Out </br> <small>All your favourites in one place</small></h1>
    </div>

  <div  id="login">
  <% if (user) { %>
  <%= "Hello " + user.name %>
  <form action="/logout" method="POST">
  <input type ="submit" class="btn btn-link btn-lg" value="Log Out">
  </form>
  </div>
  <% } else { %>
   <form method="POST" action="/register">
        <input type="text" name="name" placeholder="username">
        <input type="text" name="email" placeholder="email address">
        <input type="password" name="password" placeholder="password">
        <input type="submit" class="btn btn-default btn-sm" value="REGISTER">
  </form>
  <div class="col-md-12">
  <form method="POST" action="/login">
        <input type="text" name="name" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" class="btn btn-default btn-sm" value="SIGN IN">
  </form>
  </div>
  <img id="logo" src="/images/mapped-out.svg">
<% } %>
  </div>
  </div>
</nav>

