<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Skeleton</title>

    <% include partials/_bootstrap %>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />





  </head>

  <body>
  <% include partials/_navbar %>

    <button class="btn" id="toggle_list" aria-hidden="true" type="button">Save location</button>
    <div id="plus"  aria-hidden="true">
      <img  src="/images/plus.svg" >
    </div>

    <form action="name" style="margin:150px" method="PUT" id="name_form">
      <input type="text" name="name">
      <input type="submit" value="Name your Map!">
    </form>

    <div id="map"></div>
    <div id="capture"></div>


    <div class="locationInputs">
    <h1>Save location</h1>
    <input type="text" id="name" placeholder="Name"><br>
    <select id="rating">
      <option disabled selected value>Rating</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select id="type">
      <option disabled selected value>Style</option>
      <option value="mexican">Mexican</option>
      <option value="asian varied">Asian varied</option>
      <option value="thai">Thai</option>
      <option value="fastFood">Fast food</option>
      <option value="other">Other</option>
    </select>
      <button class="btn_submit" type="button" aria-hidden="true">Submit</button>
    </div>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB30sSupKcH81MFrDMtaX_cm21V18JR18Y&callback=initMap"></script>

  </body>

</html>
