<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Skeleton</title>

    <% include partials/_node %>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>



  </head>
  <body>


    <button class="btn" id="toggle_list" aria-hidden="true" type="button">My Lists</button>
    <img src="/images/plus.svg" id="saveLocation">

    <div id="map"></div>
    <div id="capture"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB30sSupKcH81MFrDMtaX_cm21V18JR18Y&callback=initMap"
    async defer></script>

    <div class="lists">
      <h1>FAVOURITE PLACES</h1>
      <ul>
        <li>Mcdonalds</li>
        <li>Freshnoodles</li>
        <li>The warehouse</li>
        <li>Subway</li>
      </ul>

    </div>


  </body>

</html>
