body {
  background-color: #9575CD;
  font-size: 20px;
  h1 {
    color: white;
  }
  small {
    color: white;
  }
}

.container {
  background-color: white;
}


#nav-bar {
  height: 120px;
  width: 100%;
  background-color: #9575CD;
  color: white;
  padding: 0 2em;
  position: fixed;
  z-index: 2;
}

@media (min-width: 1000px) {
  #map {
  height: 700px;
  width: 700px;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 25px;
  z-index: 1;
  }
}

@media (max-width: 999px) {
  #map {
  height: 500px;
  width: 500px;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 25px;
  z-index: 1;
  }
}

@media (max-width: 700px) {
  #map {
  height: 300px;
  width: 300px;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 25px;
  z-index: 1;
  }
}

.lists {
  display: none;
  margin-left: 40%;
}

.btn {
  position: absolute;
  float: left;
  margin-top: 10%;
  margin-left: 20%;
}

.locationInputs {
  display: none;
  background-color: white;
  position: absolute;
  margin-top: 500px;
  margin-left: 35%;
  width: 30%;
  padding: 70px;
  border: 2px solid rgb(218,26,46);
  border-radius: 30px;
  box-shadow: 3px 3px 5px 6px #ccc;
  z-index: 9999;
}

select {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin-top:20px;
  background-color: none;
  color: darkgray;
}

#plus {
  position: absolute;
  float: right;
  margin-left: 74%;
  margin-top: 700px;
  // width: 150px;
  // height: 150px;
  z-index: 999;
  cursor: pointer;
}

#plus:active {
  transition: 2em;
  opacity: 0.2;
  width:130px;
  height:130px;
}

map {
  box-shadow: 3px 3px 5px 6px #ccc;
}




#nav-bar h1 {
  text-align: center;
  line-height: 40px;
}

#nav-bar .row {
  text-align: center;
}

.home-page {
  margin: 0 auto;
}

input.btn.btn-default.btn-sm {
  margin-left: 5px;
  margin-top: 18px;
  position: absolute;
}

input.btn.btn-default.btn-lg {
  position: inherit;
  float: right;
  margin-left: 60%;
  }

button#toggle_list {
  position: absolute;
  float: right;
  margin-left: 60%;
  margin-top: 120px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 2px #ccc;
  z-index: 9999;
}

button.btn.btn-danger {
  margin-top: 800px;
  margin-left: 47%;
}

button.lists_btn.btn-primary.btn-lg {
  position: absolute;
  margin-top: -700px;
  margin-left: 150px;
  background-color: #4527A0;
}

input.btn.btn-link.btn-lg {
  position: absolute;
  margin-top: 10px;
  margin-left: 40%;
  float: right;
  color: #D1C4E9;
}

button.btn.btn-primary.btn-lg {
  margin-left: 80%;
  margin-top: 42%;
}

div.btn-group.btn-group-lg {
  margin-left: 35%;
}

form#name_form {
  position: relative;
  margin-top: -200px;
  margin-bottom: 150px;
}

img#logo {
  width: 500px;
}

#login {
  background-color: #9575CD;
}

input.btn.btn-default.btn-sm {
  background-color: #9575CD;
  color: white;
  padding: 10px;
}

input.btn.btn-default.btn-lg {
  background-color: #9575CD;
  color: white;
  padding: 10px;
  }



