body {
  background-color: white;
  h1 {
    color: #244751;
  }
}

.container {
  background-color: white;
}

#nav-bar {
  height: 120px;
  width: 100%;
  top: 0;
  background-color: white;
  color: black;
  padding: 0 2em;
  position: fixed;
  z-index: 2;
}

@media (min-width: 1000px) {
  #map {
  height: 800px;
  width: 800px;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 300px;
  border-radius: 25px;
  z-index: 1;
  }
}

@media (max-width: 999px) {
  #map {
  height: 600px;
  width: 600px;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 300px;
  border-radius: 25px;
  z-index: 1;
  }
}

@media (max-width: 700px) {
  #map {
  height: 300px;
  width: 300px;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 300px;
  border-radius: 25px;
  z-index: 1;
  }
}

.lists {
  display: none;
  margin-left: 40%;
}

.btn {
  position: absolute;
  float: left;
  margin-top: 10%;
  margin-left: 20%;
}

.locationInputs {
  display: none;
  background-color: white;
  position: absolute;
  margin-top: 600px;
  margin-left: 35%;
  width: 30%;
  padding: 20px;
  border: 2px solid rgb(218,26,46);
  border-radius: 30px;
  //margin-left: 70%;
  z-index: 9999;
}

select {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin-top:20px;
}

img {
  position: absolute;
  float: right;
  margin-left: 72%;
  margin-top: 700px;
  width: 150px;
  height: 150px;
  z-index: 999;
  cursor: pointer;
}

img:active {
  transition: 2em;
  opacity: 0.8;
  width:112px;
  height:112px;
}

#nav-bar h1 {
  text-align: center;
  line-height: 40px;
}

#nav-bar .row {
  text-align: center;
}

.home-page {
  margin: 0 auto;
}

input.btn.btn-default.btn-sm {
  margin-left: 5px;
  margin-top: 18px;
  position: absolute;
}

input.btn.btn-default.btn-lg {
  position: inherit;
  float: right;
  margin-left: 60%;
  }

button#toggle_list {
  position: absolute;
  float: right;
  margin-left: 60%;
  margin-top: 180px;
  padding: 20px;
  border-radius: 20px;
  z-index: 9999;
}

button.btn.btn-danger {
  margin-top: 1000px;
  margin-left: 47%;
}

button.lists_btn.btn-primary.btn-lg {
  position: absolute;
  margin-top: -1200px;
  margin-left: 100px;
}

input.btn.btn-link.btn-lg {
  position: absolute;
  margin-top: 10px;
  margin-left: 40%;
  float: right;
}

button.btn.btn-primary.btn-lg {
  margin-left: 80%;
  margin-top: 40%;
}

div.btn-group.btn-group-lg {
  margin-left: 35%;
}


